/* Generic */
* {
	margin: 0;
	padding: 0;
	user-select: none;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background: #1E1E1E url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	
	font-family: Roboto, Helvetica;
	font-weight: 300;
	color: white;
}

.hs-transition {			
	transition: all 0.1s;
}

.hs-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: rgba(255,255,255,0.3);
}
.hs-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.6);
}

/* DOM */
.hs-header,
.hs-sidebar,
.hs-console {
	background: rgba(0,0,0,0.25);
}
.hs-header {
	flex-grow: 0;
	flex-shrink: 0;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}
	.hs-header .title {
		flex-grow: 0;
		flex-shrink: 0;
		
		display: inline-block;
		font-size: 24px;
		font-weight: 100;
		width: 230px;
		padding: 10px 20px;
		box-sizing: border-box;
		white-space: nowrap;
	}
	.hs-header .controls {
		flex-grow: 1;
		
		visibility: hidden;
	}
	body.editing .hs-header .controls {
		visibility: visible;
	}
		.hs-header .controls .button {
			border-radius: 3px;
			padding: 0.4em 0.75em;
			margin-right: 1em;
			font-size: 0.9em;
			border-bottom: 1px solid rgba(255,255,255,0.1);
			box-sizing: border-box;
			
			transition: all 0.1s;
		}
		.hs-header .controls .button:hover {
			cursor: pointer;
			background: rgba(255,255,255, 0.35);
		}
		.hs-header .controls .button,
		.hs-header .controls .button:active {
			background: rgba(255,255,255, 0.25);
		}
			.hs-header .controls .button i {
				margin: 0 0.4em;
			}
	.hs-header .selector {
		
	}
	.hs-header .user {
		display: flex;
		align-items: center;
		margin-left: 2em;
		
		cursor: pointer;
	}
		.hs-header .homey,
		.hs-header .user .name {
			color: white;
			font-size: 0.9em;
		}
		.hs-header .user .avatar {
			width: 32px;
			height: 32px;
			border-radius: 100%;
			overflow: hidden;
			margin: 0 1em;
		}
	.hs-header .homey {
		opacity: 0.75;
	}

.hs-wrap {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.hs-sidebar {
	position: relative;
	z-index: 2;
	
	width: 230px;
	flex-shrink: 0;
	flex-grow: 0;
	
	box-sizing: border-box;
	
	overflow: visible;	
}
.hs-sidebar:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 2;
	right: 0;
	width: 1px;
	top: 0;
	bottom: 0;
	background: rgba(255,255,255,0.1);
}
	.hs-files {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 40px;
		padding: 10px 0;
	}
		.hs-file {
			position: relative;
			z-index: 3;
			
			padding: 4px 20px;
			font-size: 14px;
			font-weight: 300;
			user-select: none;
			border: 1px solid transparent;
			margin-right: 1px;
		}
		.hs-file:hover {
			cursor: default;
			background: rgba(255,255,255,0.05);
		}
		.hs-file:active {		
		}
		.hs-file:after {
			content: ".js";
			color: rgba(255,255,255,0.25);
		}
		.hs-file.hs-active {
			border-top-color: #333;
			border-bottom-color: #333;
			margin-right: 0px;
			
			background: #1E1E1E;
		}
			.hs-file i {
				margin-right: 5px;
			}
		.hs-files .ctxmenu {
			position: absolute;
			z-index: 3;
			
			background: rgba(0,0,0,0.9);
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			border-radius: 3px;
			overflow: hidden;
			width: 200px;
			padding: 0.3em 0;
		}
			.hs-files .ctxmenu .item {
				color: #9F9FA0;
				padding: 0.6em 0.8em;
				font-size: 0.85em;
				font-weight: 300;
				
				transition: all 0.1s;
			}
			.hs-files .ctxmenu .item:hover {
				background: rgba(255,255,255,0.1);
				cursor: pointer;
			}
			.hs-files .ctxmenu .item,
			.hs-files .ctxmenu .item:active {
				background: rgba(255,255,255,0);				
			}
	.hs-actions {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;		
		height: 40px;
		border-top: 1px solid rgba(255,255,255,0.1);
		
		visibility: hidden;
	}
		.hs-actions .button {
			display: inline-block;
			font-size: 0.8em;
			line-height: 40px;
			padding: 0 1em;
			
			transition: all 0.2s;
		}
		.hs-actions .button:hover {
			cursor: pointer;
			color: #fff;
		}
		.hs-actions .button,
		.hs-actions .button:active {
			color: #ddd;				
		}
			.hs-actions .button i {
				margin: 0 0.2em;
			}

.hs-editors-wrap {
	position: relative;
	z-index: 1;
	
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	border-top: 1px solid rgba(255,255,255,0.1);
}
	.hs-editors {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
		.hs-editor {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			
			opacity: 0;
			visibility: hidden;
			
			transition: all 0.15s;
		}
		.hs-editor.active {
			opacity: 1;
			visibility: visible;
		}
			.hs-editor .hs-monaco {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 30%;
			}
			.hs-editor .hs-console {
				position: absolute;
				height: 30%;
				left: 0;
				right: 0;
				bottom: 0;
				
				border-top: 1px solid #333;
				
				display: flex;
				flex-direction: column;
				
				box-sizing: border-box;
			}
				.hs-editor .hs-console-header {
					flex-grow: 0;
					flex-shrink: 0;
					
					font-size: 0.8em;
					
					background: rgba(255,255,255,0.2);
					padding: 0.5em;
					box-shadow: 0 3px 3px rgba(0,0,0,0.2);
				}
				.hs-editor .hs-console-inner {
					flex-grow: 1;
					padding: 1em;		
					
				    font-family: monospace;
				    white-space: pre;
				    overflow: auto;		
				    user-select: text;
				    
					background: rgba(255,255,255,0.05);	
				}